---
// import { fade } from 'astro:transitions';
import { Image } from 'astro:assets';
import WaitList from '../components/WaitList.astro';
import Layout from '../layouts/Layout.astro'; 
import ValueProp from '../components/ValueProp.astro';
import Product from '../components/Product.astro';
import bg from '../assets/bg.png'; 
// import SpecsList from '../content/specs.json';
// import SignupForm from '../components/SignupForm.astro';
// import Insights from '../components/Insights.astro';
// import Specs from '../components/Specs.astro'; 

// import videoSrc from '../assets/main.mp4';
// import Problems from '../components/Problems.astro';

const partnersLogos = await Astro.glob("/src/assets/partners/*").then(files => {
  return files.map(file => file.default);
}); 

---

<script>
	import { gsap } from "gsap"; 
	import { ScrollTrigger } from "gsap/ScrollTrigger"; 

	gsap.registerPlugin(ScrollTrigger);

	// create
	// let mm = gsap.matchMedia();

	// const tl = gsap.timeline();
	// const msg = [
	// 	{ parent: ".focus-section", child: ".focus", startPos: "-50", endPos: "10" },
	// 	{ parent: ".relax-section", child: ".relax", startPos: "50", endPos: "-10" },
	// 	{ parent: ".interact-section", child: ".control", startPos: "-50", endPos: "10" },
	// ];
 
	// msg.forEach((elm) => {
		 
	// 	tl.fromTo(
	// 		elm.child,
	// 		{
	// 			xPercent: elm.startPos,
	// 		},
	// 		{
	// 			xPercent: elm.endPos,
	// 			ease: "Power4.easeOut",
	// 			scrollTrigger: {
	// 				trigger: elm.parent,
	// 				start: "-50% top",
	// 				end: "=+50%",
	// 				scrub: true, // Smooth scrolling animation
	// 				toggleActions: "play none none reverse",
	// 				markers: false,
	// 			},
	// 		},
	// 	);
	// }); 
	
	//-------- responsvie ------------- 

	// mm.add({
	// 	isDesktop:`(min-width: ${2000}px) and (prefers-reduced-motion: no-preference)`,
	// 	isLaptop:`(min-width: ${1000}px) and (prefers-reduced-motion: no-preference)`,
	// 	isMobile:`(max-width: ${800}px) and (prefers-reduced-motion: no-preference)`,
	// },(context)=>{
  
	// 	function getHeight(opt:any){
	// 		if(opt.isDesktop){
	// 			return "70%";
	// 		}else if(opt.isLaptop){
	// 			return "70%";
	// 		}else if(opt.isMobile){
	// 			return "80%"; 
	// 		}
	// 	}  

	// 	function getWidth(opt:any){
	// 		if(opt.isDesktop){
	// 			return "100%";
	// 		}else if(opt.isLaptop){
	// 			return "70%";
	// 		}else if(opt.isMobile){
	// 			return "100%"; 
	// 		}
	// 	}  

	// 	const w = getWidth(context.conditions)
	// 	const h = getHeight(context.conditions)
	// 	console.log(context.conditions,w,h)

	// 	tl.to(".f-video-container",{ 
	// 		width:w, 
	// 		height:h, 
	// 		scrollTrigger: {
	// 			trigger: ".f-video-section",
	// 			start: "center center",
	// 			end: "=+50%",
	// 			pin:true,
	// 			scrub: true, // Smooth scrolling animation
	// 			toggleActions: "play none none reverse",
	// 			markers: false,
	// 		},
	// 	});

	// 	tl.to(".f-video",{ 
	// 		borderRadius:'1.5rem', 
	// 		scrollTrigger: {
	// 			trigger: ".f-video-container",
	// 			start: "center center",
	// 			end: "=+50%", 
	// 			scrub: true, // Smooth scrolling animation
	// 			toggleActions: "play none none reverse",
	// 			markers: false,
	// 		}
	// 	})

	// 	return ()=>{

	// 	} 
	// })

	// client logos
	// const partners = document.querySelectorAll('.partners-logo');
	// gsap.from('.partners-logo',{
	// 	opacity: 0,
	// 	yPercent:100,
	// 	duration: 1,
	// 	stagger: 0.3, // Adjust the stagger time as needed
	// 	ease: "Power4.easeOut", // You can change the easing function,
	// 	scrollTrigger: {
	// 		trigger: "#partners", // make .panel2 the trigger
	// 		pin:true,
	// 		start: "top top", // 10% of .panel2 enters the bottom of the viewport 
	// 		end:"+=50%",
	// 		toggleActions: "play none none reverse", 
	// 	}
	// })

	// specification animation    
	// const parentWidth = document.getElementById('parent');
	// const childWidth = document.getElementById('child');
	// const amountToScroll = childWidth!.offsetWidth - parentWidth!.offsetWidth;
 
	// gsap.timeline({
	// scrollTrigger: {
	// 			trigger:'#parent',
	// 			start: "center center",
	// 			end: "+=300%",
	// 			pin:'#technical-details', // pin:'.outermost-parent'// didn't work. It is leaving huge white space
	// 			scrub: 1, // Smooth scrolling animation
	// 			toggleActions: "play none none reverse",
	// 			markers:false
	// 		}
	// }).from('.card',{ 
	// 		opacity: 0,
	// 		yPercent:100, 
	// 		duration: 1,
	// 		stagger: 0.1, // Adjust the stagger time as needed
	// 		ease: "Power4.easeOut", // You can change the easing function,
	// 	}).to('#child',{
	// 		x:-amountToScroll,  
	// 		stagger: 0.1, // Adjust the stagger time as needed
	// 		ease: "none", // You can change the easing function,
	// 	}) 
	// -=---------------------------------- 
</script>

<Layout title="awearsense">
	<main class="container md:max-w-screen-2xl mx-auto lowercase px-16">
		 <!-- hero -->
		<section id="main" class="h-screen flex justify-center items-center relative">
			<div class="absolute flex items-center align-middle w-screen h-full t-0">
				<img src={bg.src} alt="" class="h-full w-full object-cover">
			</div> 
			<div class="absolute flex w-screen h-full t-0">
				{[...Array(100)].map((i) =>
					<div class="strip w-full h-full"></div>
				)}
			</div>
			<div class="grid md:grid-cols-2 gap-16 z-10">
				<div class="flex flex-col gap-10 col-span-1">
					<div class="col-span-1">
						<h1 class="text-7xl md:text-7xl font-extralight leading-3 text-white drop-shadow-sm">ear-based<br> <i class="font-PlayFair">neural interfaces</i> <br> for seamless interactions.</h1> 
					</div>   
					<span class="text-white font-extralight text-xl"><span class="linear-gradient font-medium">awearsense</span> is building natural <i class="font-PlayFair">neural interfaces</i> for the new era of computing.</span>
				</div>
				<div class="flex items-end">
					<WaitList show={true}/>
				</div>
			</div>
		</section> 

		<!-- <ValueProp
			message='Spatial Computing has an Interaction Problem.'
			description='<br> Creates physical and mental fatigue. <br>inaccurate control, needing precise handling. <br>Need additional devices adding to cost and maintenance.'
			/> -->

		<!-- <ValueProp
		message='Welcome to a New Paradigm of Human Computer Interaction'
		description='<br> Gain Insight with Neurofeedback. <br>Control Devices with Neurocontrol. <br>Familiar Use with an Ear-based Form.'
		/>  -->

		<!-- <Product/>		 -->
	   <!-- <section class="f-video-section h-screen relative flex items-center justify-center text-center">
			<div class="text-5xl">
				Up Close (like an Apple reveal)
				Soft Dry Electrodes 
				Around Ear Contacts
				Ergonomic Design
				Unique Interactions
			</div>
	   </section> -->

		<!-- technical specifications -->
		<!-- <section id="technical-details" class="flex flex-col gap-8 h-screen">
			<div class="section-title flex items-center">
				<h1 class="text-6xl tracking-wide">
					technical specification
				</h1> 
			</div>
			<div id="parent" class="w-full">
				<div id="child" class="flex gap-4 max-h-fit"> 
					{
						SpecsList.map((item)=>(
							<Specs
							  title={item.title} 
							  description={item.value}
							  imgsrc={item.logo}
							/>
						))
					}  
				</div>
			</div> 
		</section>  -->
		
	   <!-- trusted partners -->
	   <!-- <section id="partners" class="flex flex-col justify-center gap-16 py-32">
			<div class="section-title flex items-center">
				<h1 class="text-6xl tracking-wide">
					supported by
				</h1> 
			</div> 
			<div class="w-full h-full">
				<div class="flex gap-4 flex-nowrap max-h-fit"> 
					{
						partnersLogos.map((item)=>(
							<div class="partners-logo border px-16 h-24 inline-block py-4"> 
								<img
									class="object-fit h-full grayscale"
									src={item.src}
									alt={item} 
								/>
							</div>
						))
					}  
				</div>
			</div> 
		</section> -->
	</main>
</Layout>

<style>
	#main::after {
		content: "";
		z-index: -1;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		background-color: black;
		height: 100%;
		background-repeat: no-repeat no-repeat;
		background-position: center;
		background-size: cover;
	} 
	
	/* background-image: url("../assets/bg.png"); */ 
	#child{ 
		width: 250%;
		height:20rem; 
	}  

	.linear-gradient{
		background:  linear-gradient(270deg, #ff38bb 4.25%, #ff8038 51.61%, #f5be66 80.43%, #f4dca8 93.03%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}

	.strip{ 
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(80px); 
	}
 
</style>
