---
import Layout from '../layouts/Layout.astro'; 
import SpecsList from '../content/specs.json';
import SignupForm from '../components/SignupForm.astro';
import Insights from '../components/Insights.astro';
import Specs from '../components/Specs.astro'; 

const partnersLogos = await Astro.glob("/src/assets/partners/*").then(files => {
  return files.map(file => file.default);
}); 
---

<script>
	import { gsap } from "gsap";

	import { ScrollTrigger } from "gsap/ScrollTrigger"; 

	gsap.registerPlugin(ScrollTrigger);

	// create
	let mm = gsap.matchMedia();

	const tl = gsap.timeline();
	const msg = [
		{ parent: ".focus-section", child: ".focus", startPos: "-50", endPos: "10" },
		{ parent: ".relax-section", child: ".relax", startPos: "50", endPos: "-10" },
		{ parent: ".interact-section", child: ".control", startPos: "-50", endPos: "10" },
	];
 
	msg.forEach((elm) => {
		 
		tl.fromTo(
			elm.child,
			{
				xPercent: elm.startPos,
			},
			{
				xPercent: elm.endPos,
				ease: "Power4.easeOut",
				scrollTrigger: {
					trigger: elm.parent,
					start: "-50% top",
					end: "=+50%",
					scrub: true, // Smooth scrolling animation
					toggleActions: "play none none reverse",
					markers: false,
				},
			},
		);
	}); 
	
	//-------- responsvie ------------- 

	mm.add({
		isDesktop:`(min-width: ${2000}px) and (prefers-reduced-motion: no-preference)`,
		isLaptop:`(min-width: ${1000}px) and (prefers-reduced-motion: no-preference)`,
		isMobile:`(max-width: ${800}px) and (prefers-reduced-motion: no-preference)`,
	},(context)=>{
  
		function getHeight(opt:any){
			if(opt.isDesktop){
				return "70%";
			}else if(opt.isLaptop){
				return "70%";
			}else if(opt.isMobile){
				return "80%"; 
			}
		}  

		function getWidth(opt:any){
			if(opt.isDesktop){
				return "100%";
			}else if(opt.isLaptop){
				return "70%";
			}else if(opt.isMobile){
				return "100%"; 
			}
		}  

		const w = getWidth(context.conditions)
		const h = getHeight(context.conditions)
		console.log(context.conditions,w,h)

		tl.to(".f-video-container",{ 
			width:w, 
			height:h, 
			scrollTrigger: {
				trigger: ".f-video-section",
				start: "center center",
				end: "=+50%",
				pin:true,
				scrub: true, // Smooth scrolling animation
				toggleActions: "play none none reverse",
				markers: false,
			},
		});

		tl.to(".f-video",{ 
			borderRadius:'1.5rem', 
			scrollTrigger: {
				trigger: ".f-video-container",
				start: "center center",
				end: "=+50%", 
				scrub: true, // Smooth scrolling animation
				toggleActions: "play none none reverse",
				markers: false,
			}
		})

		return ()=>{

		} 
	})

	// client logos
	// const partners = document.querySelectorAll('.partners-logo');
	// gsap.from('.partners-logo',{
	// 	opacity: 0,
	// 	yPercent:100,
	// 	duration: 1,
	// 	stagger: 0.3, // Adjust the stagger time as needed
	// 	ease: "Power4.easeOut", // You can change the easing function,
	// 	scrollTrigger: {
	// 		trigger: "#partners", // make .panel2 the trigger
	// 		pin:true,
	// 		start: "top top", // 10% of .panel2 enters the bottom of the viewport 
	// 		end:"+=50%",
	// 		toggleActions: "play none none reverse", 
	// 	}
	// })

	// specification animation    
	const parentWidth = document.getElementById('parent');
	const childWidth = document.getElementById('child');
	const amountToScroll = childWidth!.offsetWidth - parentWidth!.offsetWidth;
 
	gsap.timeline({
	scrollTrigger: {
				trigger:'#parent',
				start: "center center",
				end: "+=300%",
				pin:'#technical-details', // pin:'.outermost-parent'// didn't work. It is leaving huge white space
				scrub: 1, // Smooth scrolling animation
				toggleActions: "play none none reverse",
				markers:false
			}
	}).from('.card',{ 
			opacity: 0,
			yPercent:100, 
			duration: 1,
			stagger: 0.1, // Adjust the stagger time as needed
			ease: "Power4.easeOut", // You can change the easing function,
		}).to('#child',{
			x:-amountToScroll,  
			stagger: 0.1, // Adjust the stagger time as needed
			ease: "none", // You can change the easing function,
		})
	  
	// -=---------------------------------- 
</script>

<Layout title="awearsense">
	<main class="container md:max-w-screen-xl mx-auto">
		 <!-- hero -->
		<section id="main" class="h-screen flex justify-center items-center relative">
			<div class="flex flex-col text-center">
				<h1 class="text-7xl md:text-10xl font-normal tracking-tighter text-white drop-shadow-sm">awearsense</h1>
				<span class="tracking-wide linear-gradient">
					Meet our first generation of
					<span class="font-semibold">neural interface</span>. Control
					digital devices with your
					<span class="font-semibold">brain</span>
				</span>
				<SignupForm/>
			</div>
		</section>
		<!-- focus -->
		<Insights
			title="Focus",
    		description="achive your peak <br/> performance."
		/> 
		<!-- relax -->
		<Insights
			title="Relax",
    		description="gain mental <br> clarity."
		/>  
		<!-- control -->
		<Insights
			title="Interact",
    		description="think & control <br/> your device."
		/>   

		<!-- center video -->
		<section class="f-video-section h-screen relative flex items-center justify-center text-center">
			<div class="f-video-container absolute  -translate-x-1/2 left-1/2 -translate-y-1/2 top-1/2 w-screen h-full">  
			   <video autoplay loop muted class="f-video object-cover w-full h-full">
				   <source src="/src/assets/main.mp4" type="video/mp4" />
				   Your browser does not support the video tag.
			   </video>
		   </div>
		   <h1 class="text-7xl md:text-10xl font-normal tracking-tighter text-white drop-shadow-sm">awearsense</h1>
	   </section> 

		<!-- technical specifications -->
		<section id="technical-details" class="flex flex-col gap-8 h-screen">
			<div class="section-title flex items-center">
				<h1 class="text-6xl tracking-wide">
					technical specification
				</h1> 
			</div>
			<div id="parent" class="w-full">
				<div id="child" class="flex gap-4 max-h-fit"> 
					{
						SpecsList.map((item)=>(
							<Specs
							  title={item.title} 
							  description={item.value}
							  imgsrc={item.logo}
							/>
						))
					}  
				</div>
			</div> 
		</section>
		

	   <!-- trusted partners -->
	   <section id="partners" class="flex flex-col justify-center gap-16 md:h-screen py-32">
			<div class="section-title flex items-center">
				<h1 class="text-6xl tracking-wide">
					trusted partners
				</h1> 
			</div> 
			<div class="w-full h-full">
				<div class="flex gap-4 max-h-fit"> 
					{
						partnersLogos.map((item)=>(
							<div class="partners-logo border px-16 py-4"> 
								<img
									class="object-fit w-full mx-auto grayscale opacity-50 hover:opacity-100 ease-in duration-300"
									src={item.src}
									alt={item} 
								/>
							</div>
						))
					}  
				</div>
			</div>

			<!-- <div class="grid grid-cols-2 md:flex gap-4 md:justify-between md:items-center">
				{
					images.map((item) => (
						<div class="partners-logo h-16 border">
							<img
								class="object-fit h-full mx-auto grayscale opacity-50 hover:opacity-100 ease-in duration-300"
								src={"/src/assets/partners/" + item}
								alt={item} 
							/>
						</div>
					))
				}
			</div> -->
		</section>
	</main>
</Layout>

<style>
	#main::after {
		content: "";
		z-index: -1;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		height: 100%;
		background-image: url("../assets/bg.jpg");
		background-repeat: no-repeat no-repeat;
		background-position: center;
		background-size: cover;
	}

	#child{ 
		width: 250%;
		height:20rem; 
	}  

	.linear-gradient{
		background:  linear-gradient(270deg, #ff38bb 4.25%, #ff8038 51.61%, #f5be66 80.43%, #f4dca8 93.03%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
 
</style>
