--- 
import Copyright from '../components/CopyRight.astro'
import WaitList from '../components/WaitList.astro'
import linkedin from '../assets/social/linkedin.svg?url';
import github from '../assets/social/github.svg?url';
import instagram from '../assets/social/instagram.svg?url'; 
import reddit from '../assets/social/reddit.svg?url'; 
import arrow from '../assets/social/arrow-open.svg?url';  
---
<footer id="footer" class="container flex flex-col md:max-w-screen-2xl mx-auto backdrop-blur px-8 md:px-16 relative" > 
    <div class="grid md:grid-cols-2 gap-16 py-32">
        <div class="flex flex-col gap-8">
            <h2 class="text-4xl md:text-8xl md:font-thin font-light">awearsense</h2>
            <WaitList show={false}/>
            <div class="flex gap-4">
                <a target="_blank" class="items" href="https://github.com/awearsense"><img src={github} alt={github}/></a>
                <a target="_blank" class="items" href="https://www.linkedin.com/company/awearsense"><img src={linkedin} alt={linkedin}/></a>
                <a target="_blank" class="items" href="https://www.instagram.com/awearsense"><img src={instagram} alt={instagram}/></a> 
                <a target="_blank" class="items" href="https://reddit.com/r/awearsense/s/HK8iID09Jf"><img src={reddit} alt={reddit}/></a>
            </div>
        </div>
        <div class="flex flex-col hidden">
            <a href="" class="flex gap-2 align-middle text-4xl"> <span class="font-PlayFair text-sm">01</span> <span>about us</span> <img class="h-10" src={arrow} alt="arrow"></a>
            <a href="" class="flex gap-2 align-middle text-4xl"> <span class="font-PlayFair text-sm">02</span> <span>roadmap</span> <img class="h-10" src={arrow} alt="arrow"></a>
            <a href="" class="flex gap-2 align-middle text-4xl"> <span class="font-PlayFair text-sm">03</span> <span>researh</span> <img class="h-10" src={arrow} alt="arrow"></a>
            <a href="" class="flex gap-2 align-middle text-4xl"> <span class="font-PlayFair text-sm">04</span> <span>blog</span> <img class="h-10" src={arrow} alt="arrow"></a>
        </div>
    </div>  
    <div class="justify-end">
        <Copyright/>
    </div>
</footer>

<style>
    .items{
        @apply  w-6 h-6;
    }

    .items > img{
        @apply w-full h-full;
    }

    #footer::before{
        content: '';
        position: absolute;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        background-color: #f6f6ef;
        z-index: -1;
    }

    /* #footer{  
        background-image: url('../assets/bg.jpg');
        background-repeat: no-repeat no-repeat;
        background-position: center;
        background-size: cover;
    } */

    .linear-gradient{
		background:  linear-gradient(270deg, #ff38bb 4.25%, #ff8038 51.61%, #f5be66 80.43%, #f4dca8 93.03%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
</style>